<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- ▼キャッシュを使わないためのmetaタグ  -->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<!-- ▲キャッシュを使わないためのmetaタグ  -->
<title>Simple QR Reader Test</title>


<!-- ローカルストレージをクリアしてTopページにリダイレクトするJavaScript -->
<script type="text/javascript">
	function clearLocalStorageAndRedirect() {
		// ローカルストレージをクリア
		localStorage.clear();
		// 新しいページにリダイレクト
		window.location.href = "/rakulog/indexQR";
	}
</script>

<!--オリジナルＣＳＳ(常に最新のcssを読込むよう工夫)-->
<script type="text/JavaScript">
<!--
   document.write('<link href="/rakulog/css/scrReadQRCode.css?ver='+ new Date().getTime() +'" rel="stylesheet" type="text/css">');
//-->
</script>

<link
	rel="apple-touch-icon"
	sizes="180x180"
	th:href="@{/images/icons/apple-touch-icon.png}"
/>
<link rel="manifest" th:href="@{/rakulog/manifest/scrQRRead-manifest.json}" />
<link rel="manifest" href="manifest.webmanifest" />
<!--
	【メモ】
	 PWACompatは、manifest.jsonの対応していないブラウザをサポートすることができるGoogle製のライブラリです。 
	 このライブラリを使用すれば、iOSのためにメタタグを羅列したり、スプラッシュスックリーン用の画像を準備する作業から開放されます。
-->
<script
	async
	src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.9/pwacompat.min.js"
	integrity="sha384-VcI6S+HIsE80FVM1jgbd6WDFhzKYA0PecD/LcIyMQpT4fMJdijBh0I7Iblaacawc"
	crossorigin="anonymous"
></script>
<script>
	//windows.navigatorにsw.jsの機能を登録する
	//【メモ】Service Workerとは
	//https://qiita.com/y_fujieda/items/f9e765ac9d89ba241154
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/rakulog/js/sw.js')
	}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!--オリジナルＣＳＳ(常に最新のcssを読込むよう工夫)-->
<script type="text/JavaScript">
<!--
   document.write('<link href="/rakulog/css/style.css?ver='+ new Date().getTime() +'" rel="stylesheet" type="text/css">');
//-->
</script>
	
</head>
<body>
	
	<header class="ymd-header">
		ＩＣタグ読み取り
	</header>
	<div class="ymd-navigation">
		<div style="width: 50%;"><a href="javascript:void(0);" onclick="clearLocalStorageAndRedirect()">&lt;&lt; 作業者を変更</a></div>
		<div style="width: 50%;"><a th:href="@{/rakulog/indexQR}">&lt;&lt; 最初に戻る</a></div>
	</div>
	<center>
	
	
	<!--  -->
	<form name="registQRForm" th:action="@{/rakulog/TransitionDispQRInfo}" th:object="${formReadQRCode}" th:method="post" style="width: 100%;">
	
		<div class="ymd-container" style="width: 100%;">
			<input type="hidden" name="loginEmployeeId"     id="loginEmployeeId"     th:value="*{loginEmployeeId}" />
			<input type="hidden" name="loginEmployeeName"   id="loginEmployeeName"   th:value="*{loginEmployeeName}" />
			<input type="hidden" name="selectedDeviceLabel" id="selectedDeviceLabel" th:value="*{selectedDeviceLabel}" />
			<input type="hidden" name="qrcode"              id="qrcode"              th:value="*{qrcode}" />
		</div>
		
		<div class="container">
			<h1>NFCタグ読み取りデモ</h1>
	
			<div class="note">
				・Android の Chrome で開いてください。<br>
				・HTTPS のページでないと動作しません。<br>
				・「読み取り開始」ボタンを押したあと、スマホの背面に NFC タグ(NFC 213 など)を近づけてください。
			</div>
	
			<button id="btnStart">読み取り開始</button>
	
			<div class="status" id="status">
				状態: まだ読み取りを開始していません。
			</div>
	
			<div class="result" id="result">
			読み取ったタグの内容はここに表示されます。
			</div>
		</div>
		
	</form>
	
	<!--オリジナルJavaScript(常に最新を読込むよう工夫)-->
	<script type="text/JavaScript">
	<!--
	   document.write('<script src="/rakulog/js/scrReadQRCode.js?ver='+ new Date().getTime() +'"></script>');
	//-->
	</script>
	
	
</body>
</html>
